<launch>
  <arg
    name="bufferSize"
    default="1000"
  />
  <arg 
    name="rec"
    default="0"
  />
  <node
    pkg="beginner_tutorials"
    type="messageModificationService"
    name="messageModificationService"
  />
  <node
    pkg="beginner_tutorials"
    type="talker"
    name="talker"
    launch-prefix="xterm -e"
  />
  <node
    pkg="beginner_tutorials"
    type="listener"
    name="listener"
    launch-prefix="xterm -e"
    args="$(arg bufferSize)"
  />
  <node 
    pkg="rosbag" 
    type="record" 
    name="record"
    args="-a -O $(find beginner_tutorials)/record.bag"
    if="$(arg rec)"/>
</launch>
